
body{
    margin: 0;
    background-color: #000;
    font-family: RobotoNew;
}

@font-face {
    font-family: 'RobotoNew';
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
    font-weight: normal;
    font-style: normal;
}